<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Usuwanie ucznia z listy</title>
  <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" th:href="@{/main_admin}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" th:href="@{/uczniowie_add}">Add <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" th:href="@{/uczniowie_delete}">Delete<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Modify</a>
    </div>
  </div>
</nav>



<!-- Table -->
<table border = "1" cellpadding = "10" width="800px">
  <!-- Table header -->
  <thead>
  <tr> <!-- Table row -->
    <th>ID</th> <!–- Table column -->
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Pesel</th>
    <th>Data urodzenia</th>
    <th>Plec</th>
    <th>id sekretariatu</th>
    <th>id adres</th>
    <th>Action</th>
  </tr>
  </thead>
  <!-- Table body -->
  <tbody>
  <tr th:each = "Uczen : ${Uczen}">
    <td th:text = "${Uczen.ID_UCZNIA}">ID</td>
    <td th:text = "${Uczen.IMIE}">Imie</td>
    <td th:text = "${Uczen.NAZWISKO}">Nazwisko</td>
    <td th:text = "${Uczen.PESEL}">Pesel</td>
    <td th:text = "${Uczen.DATA_URODZENIA}">Data urodzenia</td>
    <td th:text = "${Uczen.PLEC}">Plec</td>
    <td th:text = "${Uczen.ID_SEKRETARIATU}">id sekretariatu</td>
    <td th:text = "${Uczen.ID_ADRES}">id adres</td>
  </tr>
  </tbody>
</table>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>