<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        body {
      font-family: sans-serif;
      text-align: center;
      background-color: #f2f2f2;
    }

    h1 {
      color: #4caf50;
      font-family: sans-serif;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/index}">
                <div class="form-group">
                    <div><b><h1>Error</h1></b></div>
                    <div><p style="font-size:24px">An unexpected error has occurred</p></div>
                </div>
                <button class="btn btn-primary" type="submit" value="Sign In">Back to home page</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>